@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }

  /* Estilização da Scrollbar para parecer nativa/moderna */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400;
  }
}

/* Utilitários para o Layout do Plane */
.layout-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  /* Sidebar fixa, Conteúdo fluido */
  height: 100vh;
  overflow: hidden;
}